@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Quicksand", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", serif !important;
}

nav {
  width: fit-content;
  background-color: #4635b1;
  border-radius: 50px;
  height: auto;
  margin: auto;
  margin-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

li span {
  color: #f3f8ff;
}

img {
  transition: border-bottom 0.3s ease;
}

a {
  text-decoration: none;
  transition: color 0.3s ease !important;
}

a:hover {
  color: #f3f8ff;
}

li img {
  display: inline-block;
  width: 25px;
  border-bottom: 2px solid transparent;
}

nav ul li img:hover {
  border-bottom: 2px solid #f3f8ff;
}

.welcome {
  margin-top: 2em;
  text-align: center;
}

.intro {
  padding: 15px;
  border-radius: 10px;
}

.holder {
  padding: 15px;
}

#hobbies li {
  display: inline-block;
  background-color: #655cd6;
  padding: 12px;
  border-radius: 25px;
  color: white;
}

ul li {
  list-style-type: none !important;
}

li img {
  margin-right: 10px;
}

footer {
  text-align: center;
}

article {
  border: 1px solid #6528f7;
}

p img {
  width: 20px;
  margin-right: 10px;
}
